---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: watchers.watchers.malek.dev
spec:
  group: watchers.malek.dev
  names:
    kind: Watcher
    listKind: WatcherList
    plural: watchers
    singular: watcher
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Watcher is the Schema for the watchers API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: WatcherSpec defines the desired state of Watcher
            properties:
              deployments:
                items:
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
              end:
                type: integer
              replicas:
                type: integer
              start:
                description: Foo is an example field of Watcher. Edit watcher_types.go
                  to remove/update Foo string `json:"foo,omitempty"`
                type: integer
            required:
            - deployments
            - end
            - replicas
            - start
            type: object
          status:
            description: WatcherStatus defines the observed state of Watcher
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
